.main-container {
  background-color: #f6f7fa;
}

.wrapper-main {
  background-color: #f6f7fa;
  padding: 9rem 0;

  &_title {
    text-align: center;
    margin-bottom: 8.7rem;

    h2 {
      font-family: 'Sora', sans-serif;
      font-weight: bold;
      font-size: 3.6rem;
      line-height: 110%;
      margin-bottom: 1.3rem;
      color: #363940;
    }

    p {
      font-size: 1.7rem;
      line-height: 170%;
      color: #6c7891;
    }
  }
}

.wrapper-cards {
  display: flex;
  width: 100%;
  gap: 9rem;

  @media (max-width: 1200px) {
    gap: 4rem;
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
  }
}
