.wrapper-main {
  padding-top: 14.5rem;
  padding-bottom: 9rem;

  &_section-title {
    margin: 0 auto;
    margin-bottom: 9rem;
    text-align: center;

    h2 {
      font-family: 'Sora', sans-serif;
      font-weight: bold;
      font-size: 36px;
      line-height: 110%;
      color: #363940;
      margin-bottom: 1.6rem;
    }

    p {
      color: #6c7890;
    }

    @media (max-width: 480px) {
      margin-bottom: 7rem;
    }
  }

  @media (max-width: 600px) {
    padding-top: 80px;
  }

  @media (max-width: 480px) {
    padding-top: 0px;
  }
}

.wrapper-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 5.6rem;
  grid-column-gap: 5.6rem;

  @media (max-width: 991px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-row-gap: 9.6rem;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }
}
