.wrapper-title {
  padding-top: 9rem;
  padding-bottom: 14.5rem;

  @media (max-width: 480px) {
    padding-bottom: 9.5rem;
  }
}

.first-title {
  width: 100%;
  max-width: 90rem;
  text-align: center;
  margin: 0 auto;

  h2 {
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 135%;
    margin-bottom: 3.2rem;
    color: #363940;

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  &_btns-wrapper {
    display: flex;
    gap: 24.3px;
    justify-content: center;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
}

.choosing-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 14.5rem;

  img {
    width: 100%;
    max-width: 520px;
  }

  &_description {
    width: 100%;
    max-width: 514.21px;
    height: 275px;

    span {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.06em;
      color: #9873f7;
      margin-bottom: 1.6px;
    }

    h2 {
      font-family: 'Sora', sans-serif;
      font-weight: bold;
      font-size: 36px;
      line-height: 135%;
      margin: 1.6rem 0px;
      color: #363940;
    }

    p {
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      line-height: 150%;
      color: #6c7891;
      text-align: justify;
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 15.5rem;
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.time {
  margin-bottom: 9rem;

  h2 {
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    margin-bottom: 1.6rem;
    color: #363940;
  }

  p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 110%;
    color: #6c7891;
    text-align: center;
  }
}

.wrapper-peoples {
  display: flex;
  width: 100%;
  gap: 3.2rem;
  margin-bottom: 14.5rem;

  &_little-cards {
    display: flex;
    gap: 3.2rem;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &_big {
    width: 100%;
    max-width: 586px;
    height: 380px;
    background: url(../../assets/imgs/peopĺe2.svg);
    background-size: auto;
    padding-top: 3.2rem;
    padding-left: 3.6rem;

    h3 {
      font-family: 'Sora', sans-serif;
      font-weight: bold;
      font-size: 17px;
      line-height: 150%;
      color: #f6f7fa;
    }

    span {
      font-family: 'Sora', sans-serif;
      font-weight: bold;
      font-size: 15px;
      line-height: 150%;
      color: #b5bdcf;
    }
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 480px) {
    margin-bottom: 9.5rem;
  }
}

.quote {
  width: 100%;
  max-width: 867px;
  height: 98px;
  margin: 0 auto;
  margin-bottom: 14.5rem;

  h2 {
    font-family: 'Sora', sans-serif;
    color: #363940;
    font-weight: bold;
    font-size: 36px;
    line-height: 135%;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 9.5rem;
  }
}
