.wrapper-main {
  background-color: #363940;
}

.wrapper-footer {
  background-color: #363940;
  padding-top: 9rem;

  &_main {
    border-bottom: 1px solid rgba(181, 189, 207, 0.2);
    display: flex;
    gap: 20.5rem;
    padding-bottom: 9rem;

    &_wrapper-sora {
      width: 100%;
      max-width: 221px;
      height: 133px;

      p {
        color: #b5bdcf;
        margin-top: 3.2rem;
      }

      @media (max-width: 600px) {
        max-width: 296px;
      }
    }
  }
}

.wrapper-footer_main {
  &_lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 790px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    li {
      font-size: 1.7rem;
      line-height: 135%;
      color: #b5bdcf;
      cursor: pointer;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-top: 3rem;
    }
  }

  @media (max-width: 991px) {
    gap: 9.5rem;
  }

  @media (max-width: 768px) {
    gap: 1.5rem;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.copywrite {
  display: flex;
  justify-content: space-between;
  padding-top: 34.5px;
  padding-bottom: 34px;

  span {
    font-size: 15px;
    line-height: 135%;
    color: #b5bdcf;
  }

  &_logos {
    display: flex;
    gap: 2.9rem;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 7px;
    padding-top: 16.5px;
  }
}
